.row{
  width: 67%;
}
.img-responsive {
  max-width: 100%;
}

html{
  height: 100%;
}

.img-rounded {
  border-radius: 6px;
}
.text-center {
  text-align: center;
}
.col-md-3 {
  width: 30%;
  float: left;
  padding-left: 7%;
  padding-bottom: 5%;
}

#img1{
  margin-left: 30%;
  margin-right: 12%;
}

.groupe-detail {
  position: relative;
}
/*annimation quand la sourie passe sur l'image*/

/*le block animation  nous le fesons apparaite quand la souris passe sur l'image*/
.groupe-detail .block-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  zoom: 1;
  background-color: transparent\9;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 6px 6px 0 0;
}




.groupe-detail .block-animation h3 {
  text-align: center;
  margin-top: 80%;
  font-size: 20px;
  text-transform: uppercase;
}
.groupe-detail .block-animation h3 span {
  font-size: 12px;
  font-weight: bold;
}

.groupe-detail .sosical-team a {
  display: inline-block;
  width: 46px;
  height: 46px;
  line-height: 46px;
  border-radius: 46px;
  font-size: 16px;
  margin: 0 auto;
  color: #FFF;
  position: relative;
  z-index: 10;
}

/*tout ce qui concerne les annimation*/
.groupe-detail .sosical-team a:nth-child(1), .groupe-detail .sosical-team a:nth-child(2), .groupe-detail .sosical-team a:nth-child(3) {
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
}
.groupe-detail .sosical-team a:nth-child(1) {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.groupe-detail .sosical-team a:nth-child(2) {
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.groupe-detail .sosical-team a:nth-child(3) {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.groupe-detail .sosical-team a:before {
  width: 50%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FC6E51;
  z-index: -10;
  height: 46px;
  border-radius: 46px 0 0 46px;
}
.groupe-detail .sosical-team a:after {
  width: 50%;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background-color: #E9573F;
  height: 46px;
  border-radius: 0 46px 46px 0;
  z-index: -10;
}
.groupe-detail:hover .block-animation {
  opacity: 1;
}
.groupe-detail:hover .block-animation div.search-about {
  opacity: 1;
}
.groupe-detail:hover .block-animation div.search-about:before, .groupe-detail:hover .block-animation div.search-about:after {
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -moz-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -ms-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -o-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
}
.groupe-detail:hover .sosical-team a:nth-child(1), .groupe-detail:hover .sosical-team a:nth-child(2), .groupe-detail:hover .sosical-team a:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}



/* t'as besoin pour chaque composant pour le centrer */
div.page_centre{
  margin-left:230px;
  margin-top: 30px;

}
