
@charset "UTF-8";

html{
  height: 100%;
}

.container-table{
    margin-top: 50px;

   font: 1em/1.25 trebuchet ms, verdana, sans-serif;
  color: #fff;
    font-size: 140%;
}

thead {
  background: linear-gradient(#606062, #28262b);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

th { text-align: left; }

tbody {
  display: flex;
  flex-direction: column;
  color: #000;
  text-align: center;
}

tr {
  display: block;
  overflow: hidden;
  width: 100%;
}


tbody .odd {
  background: linear-gradient(#eeeeee 1px, #dddddd 1px, #cccccc calc(100% - 1px), #999999 calc(100% - 1px));
}

tbody .even {
  background: linear-gradient(#eeeeee 1px, #bbbbbb 1px, #aaaaaa calc(100% - 1px), #999999 calc(100% - 1px));
}



[class*='prop__'] {
  float: left;
  position: relative;
  padding: .5em 1em;
  width: 15%;
}
[class*='prop__']:last-child {
  width: 20%;
}
[class*='prop__']:before {
  position: absolute;
  top: -.5em;
  right: 0;
  bottom: -5em;
  left: 0;
  content: "";
}
[class*='prop__']:after {
  position: absolute;
  right: .5em;
}

.container {
 
  font-family: 'Source Sans Pro', sans-serif;
  float: left;

}

.list {
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: 30px;
  position:relative;
  background-size:cover;
  background-attachment:fixed;


}
.list li {
  float: left;
  height: 320px;
  overflow: hidden;
  padding: 0 1px 1px 0;
  margin-left: 5%;
  margin-bottom: 5px;
  width: 240px;
}
