{% extends "base.html" %}


    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='acceuil.css') }}">
    {% endblock %}


    {% block scripts %}
		{{ super() }}

		<script src="http://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js">
		</script>





		<script type="text/javascript">




			$(function() {
				  $('.chart').easyPieChart({
				    scaleColor: "#ecf0f1",
				    lineWidth: 20,
				    lineCap: 'butt',
				    barColor: '#1abc9c',
				    trackColor:	"#ecf0f1",
				    size: 160,
				    animate: 500
				  });
				});


			$(document).ready(function(){
    			$("button").click(function(){
        		$("div").animate({left: '250px'});
    			});


			});
		</script>




	{% endblock %}


{% block contentbase %}
<div class="div-head" class="container">
<div class="main_div">
<div class="material claireFixe">
    <div class="profile">
        <div class="cover">
            <span class="vec vec_a"></span>

            <span class="vec vec_c"></span>
            <span class="vec vec_d"></span>
            <span class="vec vec_e"></span>
        </div>
        <div class="photo">


            <div class="changerImage" >
              <label for="file-input">
                <img  src="{{ url_for('static', filename='image/'+ current_user.img ) }}" alt="{{ current_user.img }}">
              </label>


            </div>


        </div>


        <div class="info">
            <div class="name">Pseudo: {{ current_user.pseudo }}</div>
            <div class="score">Score: {{ current_user.score }}</div>
            <div class="lose">Nombre de Défaite: {{ current_user.nbDefaites }}  </div>
            <div class="winer">Nombre de Victoire: {{ current_user.nbVictoires }}</div>
        </div>

    </div>

    <div class="tabs-content">
        <div class="friend-list">
            <div class="list-ul">
                <div class="list-li title">Liste des amis</div>
                <div class="list-li claireFixe">
                    <div class="photo pull-left"><img src="{{ url_for('static', filename='image/wallee.jpg') }}"></div>
                    <div class="info pull-left">Lucie Wallee
                    </div>
                    <div class="action pull-right">

                        <a href="mailto:lucie.wallee@etu.univ-orleans.fr"><i class="glyphicon glyphicon-envelope"></i></a>

                    </div>
                </div>

                <div class="list-li claireFixe">
                    <div class="photo pull-left"><img src="{{ url_for('static', filename='image/paulin.jpg') }}"></div>
                    <div class="info pull-left">
                        <div class="name">Nicolas Paulin</div>

                    </div>
                    <div class="action pull-right">

                        <a href="mailto:nicolas.paulin@etu.univ-orleans.fr"><i class="glyphicon glyphicon-envelope"></i></a>

                    </div>
                </div>
                <div class="list-li claireFixe">
                    <div class="photo pull-left"><img src="{{ url_for('static', filename='image/limoges.jpg') }}"></div>
                    <div class="info pull-left">
                        <div class="name">Guillaume Limoges</div>

                    </div>
                    <div class="action pull-right">

                        <a href="mailto:guillaume.limoges@etu.univ-orleans.fr">
                          <i class="glyphicon glyphicon-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

   		 <div class="piechart">


		  <div class="chart" data-percent="{{ current_user.python }}">Python</div>
		    <div class="chart" data-percent="{{ current_user.java }}">Java</div>
		  <div class="chart" data-percent="{{ current_user.cpp }}">C/C++</div>

		</div>

    </div>
</div>
</div>
</div>


{% endblock %}
