{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='nouvelleIa.css') }}">
{% endblock %}

{% block scripts %}
{{super()}}
<style type="text/css" media="screen">
    #editor {
      margin-top: 20px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50px;
      height: 650px;
      width: 90%;
    }
  $("#btn-jouer").click( function() {
      // CODE HERE
  });
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");
</script>



<script type="text/javascript">

	function writeToFile(d1, d2){
		var oReq = new XMLHttpRequest();
		//oReq.onload = reqListener;
		oReq.open("GET", "test.txt", true);
		oReq.setRequestHeader('X-Test', 'one');
		oReq.send();
	}

    function makeText(){
        // FONCTION QUI AFFICHE LE CODE SUR L'EDITEUR PYTHON
    }

</script>
{% endblock %}

{% block contentbase %}
<br>
<ul>
{% for x in glp %}
<li onclick="makeText">IA author : {{ x.id_user }}</li><br>
{% endfor %}
</ul>
<div class="terminal" >
	<div id="editor"></div>
</div>
<br>
<a href="{{ url_for('Canvas',pseudo=current_user.pseudo) }}" button id="btn-jouer" type="submit" class="btn btn-success btn-lg">Jouer !</button> </a>
<a href="{{ url_for('jouer') }}" button id="btn-jouer" type="submit" class="btn btn-primary btn-lg">Retour</button> </a>


{% endblock %}
