
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
{% extends "bootstrap/base.html" %}
{% block title %}{{ title}}{% endblock %}
	{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='connex_inscrip.css') }}">
	{% endblock %}

	 


{% block navbar %}
<form  method="POST" action="{{ url_for('connexion') }}">
		{{ form.hidden_tag() }}
<div class="connexion">

	<div class="html-connexion">
	<a href="{{ url_for('home') }}" >
	<div id="close-button">
		</div>
		</a>
		<img src="../static/image/logo.png" alt="logo" />
		<div class="forme">

			<div class="sign-in-htm">

				<div class="group">
					<label for="user" class="label">Pseudo</label>
					<input id="user" type="text" class="input" name="pseudo">
				</div>
				<div class="group">
					<label for="pass" class="label">Mot de passe</label>
					<input id="pass" type="password" class="input" name="password" data-type="password">
				</div>
				<br />
				<div class="group">
					<input type="submit" class="button" value="Connexion">
				</div>
				<div class="hr"></div>
				<div class="foot">
					<a href="">Mot de passe oublié ?</a>
				</div>

			</div>
			
		</div>
	</div>
</div>
</form>

<div class="agar" > 
<script type="text/javascript" src="../static/premier-page.js"  ></script>
</div>




{% endblock %}