
{% extends "base.html" %}


    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='classements.css') }}">

    {% endblock %}

      {% block scripts %}
    {{super()}}

   <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js">
    </script>
    <script src="{{url_for('.static', filename='classements.js')}}"></script>



  {% endblock %}

{% block contentbase %}
<div class="container-table">
  <table id="datatable">
  <thead>
    <tr class="odd">
      <th class='prop__name'>Nom du groupe</th>
      <th class='prop__name'>Nombre d'étudiant</th>
      <th class='prop__name'>Nom du modérateur</th>
    </tr>
  </thead>

  <tbody>
      {% for nom_groupe, nb_membres, nom_moderateur in groupe %}
        <tr >
            <td class='prop__name'>{{ nom_groupe }}</td>
            <td class='prop__name'>{{ nb_membres }}</td>
            <td class='prop__name'>{{ nom_moderateur }}</td>
       </tr>
      {% endfor %}
  </tbody>
</table>

<tfoot>
 <a href="{{ url_for('acceuil_admini') }}" button type="button" class="btn btn-primary btn-lg"> Retour </button> </a>

 <button type="button" class="btn btn-success btn-lg"> Valider </button>

 <button type="button" class="btn btn-danger btn-lg"> Supprimer </button>

</tfoot>

</div>



{% endblock %}
