{% extends "base.html" %}

{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='jouer.css') }}">
{{ super() }}
{% endblock %}

{% block scripts %}
{{super()}}

<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js">
</script>
<script src="{{url_for('.static', filename='jouer.js')}}"></script>

{% endblock %}

{% block contentbase %}
<div class="container">
  <section class="row">
    <div class="grid_6">
      <div id="pageCourante">
        <ul class="team bio list-image clearfix">
          <li><a href="#picture"><img src="http://cooldown.fr/wp-content/uploads/2015/05/agar.io_.png" class="max-img headshots" /></a></li>
        </ul>
      </div>
    </div>
    <div class="grid_6">
      <div id="pageCourante2">
        <ul>
          <li>
            <div class="box white-bg">

              <img src="http://cooldown.fr/wp-content/uploads/2015/05/agar.io_.png" class="headshots-red" />
              <h2 class="red3-tx bold">Titre : {{ nom_jeu }}</h2>

              <h3 class="blue4-tx" style="font-weight:400; font-style:italic;">Nom du Créateur :</h3>
              <p class="blue3-tx">
                {{ pseudo }}
              </p>
              <h3 class="blue4-tx" style="font-weight:400; font-style:italic;">Difficulté : </h3>
              <p class="blue3-tx">
                {{ difficulte }}
              </p>
              <h3 class="blue4-tx" style="font-weight:400; font-style:italic;">Description : </h3>
              <p class="blue3-tx">
                {{ description }}
              </p>

              <h3 class="blue4-tx" style="font-weight:400; font-style:italic;">Objectif(s) : </h3>
              <p class="blue3-tx">
                {{ objectif }}
              </p>
              <h3 class="blue4-tx" style="font-weight:400; font-style:italic;">Contrainte(s) : </h3>
              <p class="blue3-tx">
                {{ contrainte }}
              </p>

              <a href="{{ url_for('Canvas',pseudo=current_user.pseudo) }}"><button  type="button" class="btn btn-success btn-lg"> Jouer  </button></a>
              <a href="{{ url_for('chargerIa') }}"><button  type="button" class="btn btn-success btn-lg"> charger IA  </button></a>
              <a href="{{ url_for('nouvelleIa') }}"><button  type="button" class="btn btn-success btn-lg"> creer IA  </button></a>

            </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  {% endblock %}
