<!doctype html>
<html lang="fr">
<head>

  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='premier-page.css') }}">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>

</head>
<body >

  <div id="container">
    <!-- Mettre le canvas au dessous des boutons -->
    <script type="text/javascript" src="../static/premier-page.js"  ></script>

    <a href="{{ url_for('connexion') }}" id="titreCenter"><div id="jouerDiv"><p>Jouer</p></div></a>
    <a href="{{ url_for('classements') }}" class="titre3"><div id="classementDiv"><p>Classement</p></div></a>
    <a href="{{ url_for('apropos') }}" class="titre3"><div id="aproposDiv"><p>Aide</p></div></a>
    <a href="{{ url_for('connexion') }}" class="titre3"><div id="connexionDiv"><p>Connexion</p></div></a>
    <a href="{{ url_for('inscription') }}" class="titre3" ><div id="inscriptionDiv"><p>Inscription</p></div></a>

  </div>

</body>

</html>
